mixin review(config)
  -const imgSrc = config.imgSrc || '../../assets/images/content/avatar_review.png'
  -const imgAlt = config.imgAlt || 'review_avatar'
  -const likeCount = config.likeCount || 0
  -const likeStatus = config.likeStatus || false
  -const author = config.author || 'review_author'
  -const date = config.date || 'review_date'
  -const content = config.content || 'review_content'
  .review
    .review__photolikes
      img.review__avatar(src=`${imgSrc}`, alt=`${imgAlt}`)
      +like-button({
        count: likeCount,
        status: likeStatus,
      })
    .review__content-container
      span.review__author 
        | #{author}
      span.review__date
        | #{date}
      p.review__content
        | #{content}
