mixin buttons(config)
  -const text = config.text || ''
  -const link = config.link || '/mock-adress/'
  -const modificator = config.modificator || ''


  if modificator === 'gradient'
    a.default-button.default-button__gradient(href=`${link}`) 
      | #{text}
  else if modificator === 'border'
    a.default-button.default-button__border(href=`${link}`)
      span #{text}
  else if modificator === 'payment'
    a.default-button.default-button__gradient.default-button__arrow.button__payment(href=`${link}`)
      | #{text}
  else
    a.default-button(href=`${link}`)
      | #{text}
