mixin textField(config)
  -const blockClass = config.blockClass || 'text-field'
  -const classes = config.classes || []
  -const type = config.type || ''
  -const placeholder = config.placeholder || ''

  -const concatenatedClasses = classes.join(' ')

  //- - var concatenatedClasses = ''
  //- each className, index in config.classes
  //-   if index === config.classes.length - 1
  //-     - concatenatedClasses = concatenatedClasses + config.blockClass + '__' + className
  //-   else 
  //-     - concatenatedClasses = concatenatedClasses + config.blockClass + '__' + className + ' '

  //- -var players = {classes: ['first-name', 'first-name-alternative']}
  //- -var concatenatedPlayers = players.classes.join(', ')
  //- p Currently playing: #{concatenatedPlayers}

  input(class=config.blockClass, class=concatenatedClasses, type=config.type, placeholder=config.placeholder)
